@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ranchers&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    border-radius: 30px;
    background: rgb(9, 21, 26);
    width: 400px;
    margin: 100px auto ;
    height: 175px;
    position: relative;

}

body {
    background-color: 	#02161ffa ;
}
header {
    text-emphasis-color: #02272c;
    background:  	#191a1ae8 ;
    text-align:center ;
    padding: 20px;
    border-radius: 30px;
}
header > h1 {

    color:rgb(240, 232, 232) ;
    text-align:center ;
    font-family: Asap,sans-serif;
}
.info-main {
    position: relative;
}
.info {
    background-color: #808386fa;
    border-width: 3px;
    border-color: #181515;
    border-radius: 10px;
    padding: 4px 4px;
    height: 200px;
    font-family: 'Fredoka One', cursive;
    color: #dadbd9;
    left: 0;
    text-align: justify;
    
    margin-top: 50px;
    margin-right: 400px;
}


input[type=text]{
    height: 100px;
    margin-top: 50px;
    margin-left: 16%;
    text-align: center;
    border-radius: 15px;
    font-family: 'Fredoka One', cursive;
    width: 70%;
    background-color: rgb(102, 129, 120);
    
    color: #181515;
    font-size: medium;
}

.buttons {
    
    margin-top: 15px;
    font-family: 'Fredoka One', cursive ;
    text-transform: uppercase;
    background: white;
    color: black;
    padding: 0.375rem 0.75rem;
    margin-left: 45%;
    display: inline-block;
    font-weight: 700;
    box-shadow: 0 5px rgb(44, 43, 43);
    font-size: 0.875rem;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(7, 124, 124, 0.2);
    border-radius: 10px;
  }
  .buttons:hover {
    color: whitesmoke;
    background: rgb(136, 199, 190);
  }

.btn {
    margin-top: 5px;
    font-family: 'Fredoka One', cursive ;
    text-transform: uppercase;
    background: white;
    color: black;
    padding: 0.375rem 0.75rem;
    margin-left: 45%;
    display: inline-block;
    font-weight: 700;
    box-shadow: 0 5px rgb(44, 43, 43);
    font-size: 0.875rem;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(7, 124, 124, 0.2);
    border-radius: 10px;
    margin-bottom: 50px;
  }
  .btn:hover {
    color: whitesmoke;
    background: rgb(136, 199, 190);
  }

.btn:active {

    background-color: rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 5px rgb(44, 43, 43);
    transform: translateY(4px);
  }